// buttons
button
  -webkit-apperance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%


  &-primary
    display: flex
    align-items: center
    justify-content: center
    padding: 14px 30px 16px
    font-size: 13px
    background: #AA2935
    color: white
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    border-radius: 4px
    letter-spacing: em(2.22, 13)
    span
      flex: 0 1 auto
    &:hover
      background-color: $colorRedHover

  &-outline
    display: flex
    align-items: center
    justify-content: center
    padding: 13px 30px 15px
    font-size: 13px
    background: transparent
    border: 1px solid $colorRed
    color: $fontColor
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    border-radius: 4px
    letter-spacing: em(2.22, 12)
    span
      flex: 0 1 auto
    &:hover
      background-color: $colorRed
      color: white

    // btn specific
    &--small
      padding: 8px 22px 10px
      font-size: 12px

  &-compare
    background: svg-load('../icons/svg-mono/btn-compare-bg.svg') no-repeat center
    background-size: cover
    font-size: 0
    color: $colorGray
    padding: 6px 10px 8px 8px
    border-radius: 4px
    .ico
      position: relative
      z-index: 2
      font-size: 22px
    &:hover
      // background: $colorRed
      // color: white
      color: $colorRed

  /* btn modifiers
  &-primary, &-outline
    &--small
      padding: 9px 22px 11px
      font-size: 12px

  &--buy
    padding: 11px 17px 12px 44px

  &--inline
    display: inline-block

+r($sm)
  .btn
    &-primary, &-outline
      padding-left: 20px
      padding-right: 20px
      &--small
        padding-left: 14px
        padding-right: 14px
    &--buy
      padding-right: 14px
      padding-left: 40px

.btn-cart-icon
  position: absolute
  top: 50%
  left: 14px
  transform: translateY(-50%)
  font-size: 0
  .ico
    font-size: 23px

.btn-arrow
  flex: 0 0 auto
  font-size: 0
  margin-left: 16px
  .ico
    font-size: 12px

.btn-comment-icon
  flex: 0 0 auto
  font-size: 0
  margin-left: 16px
  .ico
    font-size: 19px
    // transform: translateY(.1em)
