// buttons
button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%


  &-primary
    display: flex
    align-items: center
    justify-content: center
    padding: 14px 30px 16px
    font-size: 13px
    background: #AA2935
    color: white
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    border-radius: 4px
    letter-spacing: em(2.22, 13)
    span
      flex: 0 1 auto
    &:hover
      background-color: $colorRedHover

  &-secondary
    display: flex
    align-items: center
    justify-content: center
    padding: 12px 20px 14px
    font-size: 12px
    background: transparent
    border: 1px solid $colorYellow
    color: $fontColor
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    border-radius: 4px
    letter-spacing: em(2.25, 12)
    span
      flex: 0 1 auto
    &:hover
      background-color: $colorYellow

  &-outline
    display: flex
    align-items: center
    justify-content: center
    padding: 13px 30px 15px
    font-size: 13px
    background: transparent
    border: 1px solid $colorRed
    color: $fontColor
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    border-radius: 4px
    letter-spacing: em(2.22, 12)
    span
      flex: 0 1 auto
    &:hover
      background-color: $colorRed
      color: white

    &--pointer
      border-color: transparent
      min-height: 40px
      padding-left: 20px
      padding-right: 20px
      &::after
        display: inline-block
        content: ' '
        position: absolute 0
        background: svg-load('../icons/svg-inline/btn-pointer-bg.svg') no-repeat right center
        background-size: contain
      &:hover
        background: transparent
        color: $colorRed

    // btn specific
    &--small
      padding: 8px 22px 10px
      font-size: 12px
    &--muted
      font-size: 14px
      text-transform: none
      font-weight: 400
      letter-spacing: 0
      border-color: $borderColor

  &-compare
    background: #F6F2F2
    background-size: cover
    font-size: 0
    color: $colorGray
    padding: 6px 2px 8px 8px
    border-radius: 4px 0 0 4px
    margin-right: 12px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      right: -12px
      top: 0
      bottom: 0
      width: 12px
      background: svg-load('../icons/svg-inline/btn-compare-bg.svg') no-repeat right center
      background-size: cover
      transform: rotate(180deg)
    &--arr-left
      padding-left: 2px
      padding-right: 10px
      border-radius: 0 4px 4px 0
      margin-left: 12px
      margin-right: 0px
      &::after
        background-position: left center
        left: -12px
        transform: none

    .ico
      position: relative
      z-index: 2
      font-size: 22px
    &:hover
      // background: $colorRed
      // color: white
      color: $colorRed

  /* icon only buton
  &-buy-icon-only
    background: $colorRed
    border-radius: 4px
    color: white
    padding: 11px 14px
    font-size: 0
    .ico
      font-size: 25px
    &:hover
      background-color: $colorRedHover


  /* btn modifiers
  &-primary, &-outline, &-secondary
    &--small
      padding: 9px 22px 11px
      font-size: 12px
    &--big
      font-size: 16px
      padding: 12px 25px 14px

  &--buy
    padding: 11px 17px 12px 44px

  &--inline
    display: inline-block

+r($sm)
  .btn
    &-primary, &-outline
      padding-left: 20px
      padding-right: 20px
      &--small
        padding-left: 14px
        padding-right: 14px
    &--buy
      padding-right: 14px
      padding-left: 40px

/* button icons
.btn-cart-icon
  position: absolute
  top: 50%
  left: 14px
  transform: translateY(-50%)
  font-size: 0
  .ico
    font-size: 23px

.btn-arrow
  flex: 0 0 auto
  font-size: 0
  margin-left: 16px
  .ico
    font-size: 12px

.btn-comment-icon
  flex: 0 0 auto
  font-size: 0
  margin-left: 16px
  .ico
    font-size: 19px
    // transform: translateY(.1em)

.btn-document-icon
  flex: 0 0 auto
  font-size: 0
  margin-right: 12px
  margin-left: -8px
  color: $colorRed
  transition: color .25s $ease
  .ico
    font-size: 21px
    overflow: visible

.btn-checkmark-icon
  flex: 0 0 auto
  font-size: 0
  margin-right: 10px
  .ico
    font-size: 16px
    overflow: visible

.btn-download-icon
  flex: 0 0 auto
  font-size: 0
  margin-right: 12px
  margin-left: -8px
  color: $colorRed
  transition: color .25s $ease
  .ico
    font-size: 23px
    overflow: visible

.btn-filter-icon
  flex: 0 0 auto
  font-size: 0
  margin-right: 8px
  margin-left: -8px
  color: $colorRed
  transition: color .25s $ease
  .ico
    font-size: 18px
    overflow: visible

.btn
  &:hover
    .btn-document-icon
      color: white
    .btn-download-icon
      color: white
    .btn-filter-icon
      color: white

/* ie fixes
.is-ie
  .btn-compare
    &::after
      background: #F6F2F2
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      width: 8px
      right: -8px
    &--arr-left
      &::after
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
        width: 8px
        left: -8px
