/* titles
.h1-title
  font-size: 40px
  font-weight: 700
  line-height: 1.2

.h2-title
  font-size: 30px
  font-weight: 600
  line-height: 1.1

.h3-title
  font-size: 22px
  font-weight: 600

.h4-title
  font-size: 18px
  font-weight: 600

.mt1
  margin-top: 1em

+r($sm)
  .h1-title
    font-size: 25px

  .h2-title
    font-size: 22px

  .h3-title
    font-size: 20px

/* paragprahps

.p-big
  font-size: 22px

.p-main
  font-size: 16px
  line-height: 1.5

.p-small
  font-size: 14px
  line-height: 1.5
  color: $fontColorGray
  line-height: 1.285
  &--black
    line-height: 1.5
    color: $fontColor

p.p-main, p.p-big, p.p-small
  margin: 1.6em 0


.blockquote
  position: relative
  font-size: 20px
  line-height: 1.25
  padding-left: 55px
  max-width: 535px
  &::before
    display: block
    content: ' '
    position: absolute
    left: 22px
    top: .3em
    bottom: .3em
    width: 2px
    background: $colorRed
    border-radius: 2px

blockquote.blockquote
  margin: 1.8em 0

+r($sm)
  .p-big
    font-size: 18px
  .p-main
    font-size: 14px
  .p-small
    font-size: 13px

  .blockquote
    font-size: 16px
    padding-left: 22px
    &::before
      left: 0


.tac
  text-align: center
.tal
  text-align: left
.tar
  text-align: right

// little inline helpers
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-600
  font-weight: 600

.f-700
  font-weight: 700

.f-900
  font-weight: 900


.c-red
  color: $colorRed


// the rouble mark
.r-mark
  font-weight: 400
  color: currentTarget


/* list styles
.ul-list-row
  display: flex
  flex-wrap: wrap
  margin: 1em -12px
  .ul-list, .ul-checkmarks
    padding-left: 12px
    padding-right: 12px
    margin-left: 15px
    max-width: 50%
    margin-top: 0
    margin-bottom: 0

+r($lg)
  .ul-list-row
    .ul-list, .ul-checkmarks
      max-width: 80%

+r($sm)
  .ul-list-row
    .ul-list, .ul-checkmarks
      max-width: 100%

.ul-list
  list-style: none
  margin: 1em 0
  padding: 0
  font-size: 16px
  line-height: 1.8
  li
    position: relative
    display: block
    padding-left: 1em
    &::before
      position: absolute
      left: 0
      top: 13px
      display: inline-block
      content: ' '
      size: 4px
      background: $colorRed
    &.p-small
      // because line height gets smaller
      &::before
        top: 7px

/* checkmarks
.ul-checkmarks
  list-style: none
  margin: 1em 0
  padding: 0
  font-size: 16px
  line-height: 1.5
  li
    position: relative
    display: block
    padding-left: 2em
    margin-bottom: .5em
    &::before
      position: absolute
      left: 0
      top: 8px
      display: inline-block
      content: ' '
      size: 16px 12px
      background: svg-load("../icons/svg-mono/checkmark.svg", fill=$colorGreen) no-repeat center
      background-size: contain

/* numbs
.ul-nums
  display: flex
  flex-wrap: wrap
  list-style: none
  margin: 1em 0
  padding: 0
  font-size: 16px
  line-height: 1.5
  counter-reset: list
  li
    position: relative
    display: block
    flex: 0 0 50%
    max-width: 50%
    padding-left: 25px
    padding-right: 25px
    padding-left: 40px
    margin-bottom: 35px
    counter-increment: list
    &::before
      position: absolute
      left: 0
      top: 5px
      display: inline-block
      content: counter(list)
      size: 20px
      color: white
      border-radius: 50%
      text-align: center
      line-height: 18px
      background: $colorRed

+r($sm)
  .ul-checkmarks
    li
      font-size: 14px
  .ul-nums
    li
      font-size: 14px


/* links
.ui-links-group
  display: flex
  flex-direction: column
  align-items: flex-start
  margin: 1em 0


.ui-arr-link
  display: flex
  align-items: center
  padding: 5px 0
  transition: color .25s $ease
  backface-visibility: hidden
  transform-style: preserve-3d
  .ico
    font-size: 9px
    fill: $colorRed
    margin-left: 10px
    backface-visibility: hidden
    transition: transform .25s $ease
    transform: translate(0,.2em)
  &:hover
    color: $colorRed
    .ico
      transform: translate3d(5px, .2em, 0)


/* table style
.table
  width: 100%
  border-collapse: collapse
  thead
    td
      padding: 12px
      font-size: 14px
      color: $fontColorGray

  tbody
    td
      padding: 25px 12px

  td
    border-bottom: 1px solid $borderColor
