/* UI


// WORKS KIND OF bootstrap - group have label and input
.ui-group
  position: relative
  margin-bottom: 22px
  label
    display: block
    margin-bottom: 10px

// for input or textarea element
.ui-input
  -webkit-appearance: none
  display: block
  width: 100%
  background: white
  font-size: 16px
  line-height: normal
  font-family: $baseFont
  color: $colorGray
  border: 1px solid #DBD8D8
  border-radius: 4px
  padding: 10px 17px 12px
  transition: color .25s $ease, border-color .1s ease
  &.has-error
    border-color: $colorRed
    &:focus
      border-color: $colorRedHover

  &:focus
    color: $fontColor
    border-color: $fontColor

.ui-input textarea
  resize: vertical


.ui-input__validation
  position: absolute
  bottom: -15px
  font-size: 12px
  line-height: 1
  color: $colorRed

label.ui-input__validation
  margin-bottom: 0

/* Checkbox
.ui-checkbox
  input
    display: none
    width: 0.1px
    height: 0.1px
    opacity: 0
    position: absolute
    top: 0
    left: 0
    &:checked
      + label
        &::before
          border-color: $colorGreen
        &::after
          transform: translateY(-50%) scale(1)
  label
    display: block
    width: 100%
    position: relative
    cursor: pointer
    &::before
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      display: inline-block
      content: ' '
      size: 20px
      background-color: white
      border: 1px solid #AFB7C0
      border-radius: 4px
      cursor: pointer
      vertical-align: middle
      cursor: pointer
      transition: all $transitionSpeed ease-in-out
    &::after
      position: absolute
      left: 6px
      top: 50%
      transform: translateY(-50%) scale(0)
      display: inline-block
      content: ' '
      size: 10px
      background: $colorGreen
      border-radius: 50%
      // background-image: svg-load('../../images/svg/checkbox.svg')
      // background-repeat: no-repeat
      // background-position: center
      transition: transform .2s ease
    span
      display: inline-block
      padding-left: 35px
      vertical-align: top
      line-height: 1.3
      font-size: 14px
      cursor: pointer
