/* UI


// WORKS KIND OF bootstrap - group have label and input
.ui-group
  position: relative
  margin-bottom: 22px
  label
    display: block
    margin-bottom: 10px
    font-size: 16px
  &--labeled
    display: flex
    align-items: center
    margin-bottom: 35px
    label
      width: 100%
      max-width: 120px
      padding-right: 12px
    .ui-input
      padding: 13px 25px 15px
    .ui-input__validation
      left: 120px
      right: 0
      bottom: -17px
      font-size: 11px
      max-width: 100%

.ui-group
  &.is-valid
    .ui-input
      position: relative
      background: #FAF8F4
      // checmark
    &::after
      display: inline-block
      content: ' '
      position: absolute
      z-index: 1
      top: 50%
      transform: translateY(-50%)
      right: 20px
      background: svg-load("../icons/svg-mono/checkmark.svg", fill=$colorGreen) no-repeat center
      size: 16px 12px
      background-size: contain

// for input or textarea element
.ui-input
  -webkit-appearance: none
  display: block
  width: 100%
  background: white
  font-size: 16px
  line-height: normal
  font-family: $baseFont
  color: $colorGray
  border: 1px solid #DBD8D8
  border-radius: 4px
  padding: 10px 17px 12px
  transition: color .25s $ease, border-color .1s ease, background .2s $ease
  &.has-error
    border-color: $colorRed
    &:focus
      border-color: $colorRedHover

  &:focus
    color: $fontColor
    border-color: $fontColor

.ui-input textarea
  resize: vertical

.ui-input-icon
  position: absolute
  z-index: 2
  top: 50%
  transform: translateY(-50%)
  right: 6px
  background: #FAF8F4
  border-radius: 4px
  padding: 9px 8px
  font-size: 0
  cursor: pointer
  color: $colorRed
  transition: background .25s $ease, color .25s $ease
  .ico-mono-btn-arrow
    font-size: 10px

  &:hover
    background-color: $colorRed
    color: white

.ui-input__validation
  position: absolute
  bottom: -15px
  font-size: 12px
  line-height: 1
  color: $colorRed

label.ui-input__validation
  margin-bottom: 0

.ui-required
  color: $colorRed

/* Checkbox
// checkbox defaults
.ui-checkbox, .ui-checkbox-select, .ui-color, .ui-toggle
  input
    display: none
    width: 0.1px
    height: 0.1px
    opacity: 0
    position: absolute
    top: 0
    left: 0

.ui-checkbox
  input
    &:checked
      + label
        &::before
          border-color: $colorRed
          background-color: $colorRed
        &::after
          transform: translateY(-50%) scale(1)
  label
    display: block
    width: 100%
    position: relative
    cursor: pointer
    color: $colorGray
    min-height: 22px
    transition: color .25s $ease
    &::before
      display: inline-block
      content: ' '
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      size: 22px
      background-color: white
      border: 1px solid #DBD8D8
      border-radius: 4px
      cursor: pointer
      vertical-align: middle
      cursor: pointer
      transition: all $transitionSpeed ease-in-out
    &::after
      display: inline-block
      content: ' '
      position: absolute
      left: 6px
      top: 50%
      transform: translateY(-50%) scale(0)
      size: 12px 9px
      background: svg-load('../icons/svg-mono/checkmark.svg', fill=#fff) no-repeat center
      background-size: cover
      transition: transform .2s ease
    span
      display: inline-block
      padding-left: 32px
      vertical-align: top
      line-height: 1.3
      font-size: 16px
      cursor: pointer
  &:hover
    label
      color: $fontColor


.ui-checkbox-row
  display: flex
  .ui-checkbox
    margin-right: 40px
    &:last-child
      margin-right: 0

/* checkbox group
.ui-checkbox-selects
  display: flex

.ui-checkbox-select
  input
    &:checked
      + label
        background-color: $colorRed
        border-color: $colorRed
        // border-right-color: #DBD8D8
        color: white
        &::after
          opacity: 1
  label
    position: relative
    display: inline-block
    border: 1px solid #DBD8D8
    font-size: 16px
    padding: 10px 17px
    margin-left: -1px
    cursor: pointer
    transition: .25s $ease
    &::after
      display: inline-block
      content: ' '
      position: absolute
      size: 16px
      top: -8px
      right: 5px
      background: svg-load('../icons/svg-inline/ui-checkbox-select-selected.svg') no-repeat center
      background-size: contain
      opacity: 0
      // pointer-events: none
      transition: opacity .25s $ease
  &:first-child
    label
      border-top-left-radius: 4px
      border-bottom-left-radius: 4px
  &:last-child
    label
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
  &:hover
    label
      color: $colorGray


/* colors
.ui-colors
  display: flex
  align-items: center
  font-size: 0
  margin-bottom: -5px
  .ui-color
    margin-right: 12px
    &:last-child
      margin-right: 0

.ui-color
  input
    &:checked
      + label
        border-color: $colorRed
        img
          transform: scale(0.85)

  label
    display: block
    width: 100%
    min-size: 30px
    position: relative
    cursor: pointer
    border-radius: 4px
    border: 1px solid transparent
    overflow: hidden
    font-size: 0
    transition: border .25s $ease
    img
      max-width: 100%
      transition: transform .25s $ease
  &:hover
    label
      border-color: $colorRed


/* toggle
.ui-toggle
  input
    &:checked
      + label
        color: $fontColor
        &::before
          background: $colorRed
        &::after
          background-color: white
          transform: translate(18px,-50%)

  label
    display: block
    width: 100%
    position: relative
    cursor: pointer
    display: inline-block
    min-height: 22px
    transition: color .25s $ease
    span
      padding-left: 50px
      font-size: 14px
    &::before, &::after
      display: inline-block
      content: ' '
      position: absolute
      transition: .25s $ease
    &::before
      border: 1px solid #DBD8D8
      background: transparent
      size: 38px 20px
      border-radius: 20px
    &::after
      background: $borderColor
      size: 14px
      border-radius: 50%
      left: 4px
      top: 50%
      transform: translateY(-50%)
  &:hover
    label
      color: $colorGray



/* slider group ui
.ui-range
  position: relative
  z-index: 1
  min-height: 40px
  border: 1px solid #DBD8D8
  border-radius: 4px
  &__mark
    -webkit-appearance: none
    position: absolute
    font-size: 20px
    top: 5px
    border: 0
    background: transparent
    font-family: $baseFont
    width: auto
    display: block
    width: 40%
    &--from
      left: 15px
    &--to
      right: 15px
      text-align: right

  .noUi-target
    position: absolute
    bottom: -6px
    left: 5px
    right: 5px


/* plus - minus
.ui-plus-minus
  width: 100%
  max-width: 110px
  position: relative
  z-index: 1
  border: 1px solid #DBD8D8
  border-radius: 4px
  user-select: none
  &__plus, &__minus
    position: absolute
    font-size: 0
    top: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    color: #D4D4D4
    cursor: pointer
    padding: 5px 14px
    width: 50%
    transition: color .25s $ease
    &:hover
      color: $colorRed
  &__minus
    font-size: 0
    left: 0
    .ico
      font-size: 2px
  &__plus
    font-size: 0
    right: 0px
    align-items: flex-end
    .ico
      font-size: 14px

  input
    -webkit-appearance: none
    display: block
    width: 100%
    font-size: 20px
    font-family: $baseFont
    padding: 7px 40px
    border-radius: 0
    border: 0
    text-align: center
    background: transparent
    margin: 0
    box-shadow: none
    &:focus
      outline: none
