// COMPARE
.compare
  .compare__wrapper
    .compare__close(js-compare-hide)
      +svgMono("close")
    .compare__text(js-compare-text) <span>2 товара</span> в сравнении
    a(href="#").compare__cta
      +svgMono("compare")
      span Сравнить
