// GRID TEST (remove on production)
.demo-grid
  .container
    .row
      .col
        div
      .col
        div
      .col
        div
      .col
        div
      
      .col
        div
      .col
        div
      .col
        div
      .col
        div
          
      .col
        div
      .col
        div
      .col
        div
      .col
        div

div(js-show-grid) 
  span grid

//- test
//- div(style="display: flex; margin: 20px -12px;")
//-   div(style="background:black; height: 10px; flex: 0 0 16.66667%; padding: 0 12px")
//-   div(style="background:black; height: 10px; flex: 0 0 16.66667%; padding: 0 12px")
//-   div(style="background:black; height: 10px; flex: 0 0 16.66667%; padding: 0 12px")
//-   div(style="background:black; height: 10px; flex: 0 0 16.66667%; padding: 0 12px")
//-   div(style="background:black; height: 10px; flex: 0 0 16.66667%; padding: 0 12px")
//-   div(style="background:black; height: 10px; flex: 0 0 16.66667%; padding: 0 12px")
