// FOOTER :: START
footer.footer
  .container
    // top
    .footer__top
      .footer__col.footer__col--main
        .footer__logo
          img(src="img/template/logo.png" srcset="img/template/logo@2x.png 2x")
        
        .footer__contacts
          .footer__contacts-col
            .contacts-header
              .contacts-header__messengers
                .contacts-header__whatsapp
                  a(href="#" target="_blank") whatsapp
                .contacts-header__viber
                  a(href="#" target="_blank") viber
                .contacts-header__telegram
                  a(href="#" target="_blank") telegram
              .contacts-header__phones
                a(href="tel:88003020958").header-phone
                  .header-phone__icon
                    +svgMono('phone')
                  .header-phone__content
                    .header-phone__tel 8 800 302-09-58
                    .header-phone__description Бесплатно по РФ
                    
          .footer__contacts-col  
            .showroom-header.showroom-header--line
              .showroom-header__name Шоурум в Москве
              .showroom-header__content
                .showroom-header__address ул. Шаболовка д.23 к.5
                .showroom-header__directions 1-й этаж красная вывеска <br/> "Hermle Часы из Германии"
              
              
      // menu
      .footer__col.footer__col--menu
        .footer-menu
          .footer-menu__name Часы по форме:
          ul.footer-menu__list
            li
              a(href="#") Напольные
            li
              a(href="#") Настенные
            li
              a(href="#") Настольные
        .footer-menu
          .footer-menu__name Часы по стилю:
          ul.footer-menu__list
            li
              a(href="#") Классика
            li
              a(href="#") Модерн
            li
              a(href="#") Эксклюзив
              
      // links
      .footer__col.footer__col--links(js-footer-col-margin data-target-sibling=".footer__col--menu" data-target-main=".footer__col--main")
        .footer-links
          ul.footer-links__menu
            li
              a(href="#") Доставка
            li
              a(href="#") Оплата
            li
              a(href="#") Сервис
          ul.footer-links__menu
            li
              a(href="#") Гарантии
            li
              a(href="#") Новости
            li
              a(href="#") Контакты
          ul.footer-links__menu
            li
              a(href="#") Отслеживание заказа
            li
              a(href="#") Документы
                      
                  
    // bottom
    .footer__bottom
      p.footer__copyright © 2017-2018 ООО "Часы Хермле" HERMLE STORE
      
      .footer__socials.social-media
        a(href="#").social-media__instagram
          +svgMono("social-instagram")
        a(href="#").social-media__facebook
          +svgMono("social-facebook")
        a(href="#").social-media__youtube
          +svgMono("social-youtube")
