// HEADER :: START
header.header
  .container
    // top
    .header__top
      ul.header__top-menu
        li
          a(href="#") Доставка
        li
          a(href="#") Оплата
        li
          a(href="#") Сервис
        li
          a(href="#") Гарантии
        li
          a(href="#") Новости
        li
          a(href="#") Контакты
        li
          a(href="#") Отслеживание заказа
        li
          a(href="#") Документы
      
      .header__socials.social-media
        a(href="#").social-media__instagram
          +svgMono("social-instagram")
        a(href="#").social-media__facebook
          +svgMono("social-facebook")
        a(href="#").social-media__youtube
          +svgMono("social-youtube")
    
    // center
    .header__center
      a(href="homepage.html").header__logo
        img(src="img/template/logo.png" srcset="img/template/logo@2x.png 2x")
      
      .header__showroom
        .header__showroom.showroom-header
          .showroom-header__name Шоурум <br/> в Москве
          .showroom-header__icon
            +svgColor("clock")
          .showroom-header__content
            .showroom-header__address ул. Шаболовка д.23 к.5
            .showroom-header__directions 1-й этаж красная вывеска <br/> "Hermle Часы из Германии"
      
      .header__cta
        a(href="#callback" js-popup).btn.btn-primary.btn-primary--small
          span Перезвоните
      
      .header__contacts.contacts-header
        .contacts-header__messengers
          .contacts-header__whatsapp
            a(href="#" target="_blank") whatsapp
          .contacts-header__viber
            a(href="#" target="_blank") viber
          .contacts-header__telegram
            a(href="#" target="_blank") telegram
        .contacts-header__phones
          a(href="tel:88003020958").header-phone
            .header-phone__icon
              +svgMono('phone')
            .header-phone__content
              .header-phone__tel 8 800 302-09-58
              .header-phone__description Бесплатно по РФ
          a(href="tel:+74954091058").header-phone
            .header-phone__icon
              +svgMono('phone')
            .header-phone__content
              .header-phone__tel +7 495 409-10-58
              .header-phone__description Телефон в Москве
        
      a(href="cart.html").header__cart
        .header__cart-counter
          span 2
        +svgMono('cart')

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
    
    // bottom
    .header__bottom
      form(action="#" method="POST").header__search.header-search(js-header-search)
        .header-search__icon(js-header-search-toggle)
          +svgMono("search")
        .header-search__input
          input(type="text" placeholder="Что будем искать?")
        .header-search__cta
          button(type="submit").btn.btn-primary.btn-primary--small
            span Найти
      .header__menu
        // menu group
        .header-menu
          .header-menu__name Часы <br/> по форме:
          ul.header-menu__list
            li
              a(href="#") Напольные
              ul
                li
                  a(href="#") Напольные с боем
                li
                  a(href="#") Напольные с боем и мелодией
                li
                  a(href="#") Напольные с инкрустацией
                li
                  a(href="#") Напольные с маятником
            li
              a(href="#") Настенные
              ul
                li
                  a(href="#") Настенные с боем
                li
                  a(href="#") Настенные с боем и мелодией
                li
                  a(href="#") Настенные с маятником
            li
              a(href="#") Настольные
              ul
                li
                  a(href="#") Настольные с боем и мелодией
                li
                  a(href="#") Настольные с инкрустацией
                li
                  a(href="#") Настольные с маятником
        // menu group
        .header-menu
          .header-menu__name Часы <br/> по стилю:
          ul.header-menu__list
            li
              a(href="#") Классика
              ul
                li
                  a(href="#") Классика 1
                li
                  a(href="#") Классика 2
                li
                  a(href="#") Классика 3
            li
              a(href="#") Модерн
              ul
                li
                  a(href="#") Модерн 1
                li
                  a(href="#") Модерн 2
                li
                  a(href="#") Модерн 3
            li
              a(href="#") Эксклюзив
              ul
                li
                  a(href="#") Эксклюзив 1
                li
                  a(href="#") Эксклюзив 2
                li
                  a(href="#") Эксклюзив 3
  
        
// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="homepage.html") Homepage
      li
        a(href="page.html") Shop
      li
        a(href="page.html") Lorem
    .mobile-navi__cta
      a(href="mailto:sergey@khmelevskoy.co") sergey@khmelevskoy.co
