// MODALS
.popup-dialog.mfp-hide#mobile-navi
  .mobile-navi
    .mobile-navi__wrapper
      // title
      .mobile-navi__title Меню
      // menu
      .mobile-navi__menu
        ul.mobile-navi__list
          li
            a(href="#") Доставка
          li
            a(href="#") Оплата
          li
            a(href="#") Сервис
        ul.mobile-navi__list
          li
            a(href="#") Гарантии
          li
            a(href="#") Новости
          li
            a(href="#") Контакты

      // showroom
      .mobile-navi__showroom.showroom-header
        .showroom-header__name Шоурум <br/> в Москве
        .showroom-header__icon
          +svgColor("clock")
        .showroom-header__content
          .showroom-header__address ул. Шаболовка д.23 к.5
          .showroom-header__directions 1-й этаж красная вывеска <br/> "Hermle Часы из Германии"

      // contacts
      .mobile-navi__contacts.contacts-header
        .contacts-header__messengers
          .contacts-header__whatsapp
            a(href="#" target="_blank") whatsapp
          .contacts-header__viber
            a(href="#" target="_blank") viber
          .contacts-header__telegram
            a(href="#" target="_blank") telegram
        .contacts-header__phones
          a(href="tel:88003020958").header-phone
            .header-phone__icon
              +svgMono('phone')
            .header-phone__content
              .header-phone__tel 8 800 302-09-58
              .header-phone__description Бесплатно по РФ
          a(href="tel:+74954091058").header-phone
            .header-phone__icon
              +svgMono('phone')
            .header-phone__content
              .header-phone__tel +7 495 409-10-58
              .header-phone__description Телефон в Москве
      
      // cta
      .mobile-navi__cta
        a(href="#callback" js-popup).btn.btn-primary.btn-primary--small
          span Перезвоните
      
      // socials
      .mobile-navi__socials.social-media
        a(href="#").social-media__instagram
          +svgMono("social-instagram")
        a(href="#").social-media__facebook
          +svgMono("social-facebook")
        a(href="#").social-media__youtube
          +svgMono("social-youtube")
    

.popup-dialog.mfp-hide#callback
  .callback
    .callback__wrapper
      .callback__image
        img(src="img/callback_bg.jpg" srcset="img/callback_bg@2x.jpg 2x")
      .callback__content
        .h2-title Заказать звонок
        
        form(action="#" js-validate-callback).callback__form
          .ui-group
            input.ui-input(type="text" name="name" placeholder="Имя")
          .ui-group
            input.ui-input(type="tel" name="phone" placeholder="Телефон" js-phone-mask)
          .ui-group
            button(type="submit").btn.btn-primary
              span Перезвоните мне
          
          .callback__legal Нажимая на кнопку, вы принимаете <a href="#" target="_blank">Положение</a> и <a href="#" target="_blank">Согласие</a> на обработку персональных данных
          
