---
title: Статья
---
extends shared/_layout
block content
  
  // HEAD
  .article-head(data-aos="fade")
    .container
      .article-head__wrapper
        .article-head__image
          img(src='img/articleHead.jpg' srcset='img/articleHead@2x.jpg 2x')
        .article-head__content
          .article-head__category Напольные часы
          h1.h1-title Напольные часы: виды, <br/>как выбрать
      
  // PAGE
  .article-page
    .container
      .article-page__wrapper
        .article-page__left
          // CONTENT
          .article-content
            .article-content__section(data-aos="fade")
              p.p-big Двигателем в механических приборах является поднятая гиря или пружина – свернутая полоса стали, прикрепленная одним концом к барабану, а другим – к валу. При вращении вала пружина раскручивается и закручивается, приводя механизм в движение.
              hr
              ul.ul-list
                li <strong>Регулятор</strong> – круглый обод, в центре которого находится ось вращения. Используется для стабилизации часового хода, благодаря ему механизм вращается с определенной периодичностью.
                li <strong>Анкерный спуск</strong> – деталь, которая передает энергию от двигателя балансу, обеспечивая равномерное вращение механизма.
            
            .article-content__section(data-aos="fade")
              .article-content__row
                .article-content__row-text
                  p.p-main Анкерное колесо под воздействием пружины продвигается на один зуб, поворачивая вилку, которая толкает баланс, передает двигателю энергию и запирает анкерное колесо. Затем совершаются те же движения в противоположную сторону.
                  p.p-main Кварцевые часы состоят из электронного блока и шагового электродвигателя. Электронный блок раз в секунду посылает импульс двигателю, вследствие чего происходит поворачивание стрелок.
                .article-content__row-image
                  img(src='img/articleImage_1.jpg' srcset='img/articleImage_1@2x.jpg 2x')
            
            .article-content__section(data-aos="fade")
              h2.h2-title Виды, характеристики, функции напольных часов
              ol.ul-nums
                li <strong>Стилизированные под старинные часы.</strong> Состоят из высокого и узкого корпуса, выполненного из натурального дерева в темных тонах. По силуэту напоминают городскую башню с округлой вершиной.
                li Современные напольные часы – это модели, которые трансформируют представление о классике. К таким относятся приборы на металлической опоре-штанге, в виде уличного фонаря или с белоснежным корпусом.
                li <strong>Интерьерные часы</strong> – конструкции, которые подбираются под стиль конкретного помещения. Для изготовления таких приборов  используется дерево, МДФ и фанера. Каркасы окрашиваются в светлые или нейтральные цвета.
                li <strong>По типу часового механизма</strong> различаются механические (с пружинным или гиревым механизмом) и кварцевые устройства. Ход механических приборов обеспечивается спиральной пружиной, которая раскручивается и закручивается.
            
            .article-content__section(data-aos="fade")
              h3.h3-title Как выбрать напольные часы
              p.p-main Напольные часы должны соответствовать стилистике интерьера, для которого они подбираются. Конструкции хорошо впишутся в такие стили: классический европейский, кантри, шебби-шик.
                | <br/>
                | Витиеватые элементы из позолоченной бронзы напоминают рококо, в античном ампире присутствует монументальность и роскошь. Признаком барокко будет пышность, использование лакированных поверхностей и интересная инкрустация.
              p.p-main Вольные вариации на историческую тематику принадлежат модерну.
              p.p-main Обязательно учтите размеры помещения и специфику освещения. Напольные устройства громоздки, занимают много пространства и в маленьких помещениях создают атмосферу тесноты.
                | <br/>
                | Такие приборы идеально впишутся в дизайн загородного коттеджа или просторной квартиры.
              blockquote.blockquote Обратите внимание на материал корпуса. Для изготовления классических моделей используется натуральное дерево от светло-песочных до коричнево-красных оттенков.
            
            .article-content__section(data-aos="fade")
              .article-content__row
                .article-content__row-image
                  img(style="float:left" src='img/articleImage_2.jpg' srcset='img/articleImage_2@2x.jpg 2x')
                .article-content__row-text
                  p.p-main  Для производства берутся благородные древесные породы: дуб, вишня, красное дерево, орех, бук. Самыми экологичными считаются бук, вишня, ясень, дуб и красное дерево.
                  p.p-main Чтобы вписать старинные конструкции в современный дизайн, купите изделия с металлическими, стеклянными или нетрадиционными элементами.
                  p.p-main Учитывайте предназначение устройств и конкретных помещений. Не рекомендуется устанавливать изделия в спальнях, ведь часовой бой будет отвлекать от сна. Чаще всего такие модели ставят в просторных гостиных.
                  p.p-main Есть конструкции, которые выполняют функцию хранения вещей. Под крышкой приборов находятся полки, на которых можно расположить вазу с цветами, сувениры, фотографии. Модели, украшенные растительными орнаментами, будут хорошо смотреться на кухне.
            
            .article-content__section(data-aos="fade")
              h4.h4-title Эксплуатация напольных часов
              ul.ul-list
                li В помещении, где устанавливается прибор, должен поддерживаться оптимальный микроклимат. Необходим тщательный уход за мебелью, следите за чистотой поверхностей. Регулируйте влажность воздуха и температуру в комнате.
                li Напольные приборы должны стоять устойчиво и ровно. Купите прибор с регулируемыми ножками, это обезопасит механизм от падения и повреждения, сохранит корпус, внутренние механизмы и напольное покрытие.
                li Следите за установленным интервалом и периодичностью боя. Механизм, который работает слишком часто или редко, быстро придет в непригодность. Оптимальный вариант – заводить устройство раз в сутки.
              blockquote.blockquote.blockquote--quote Нельзя монтировать конструкции на мягких поверхностях (коврах), это приведет к усадке ткани и нарушениям в работе механизма.
              p.p-main Делайте это в установленное время, тогда не будет проблем. Допустима минимальная погрешность в несколько минут. Для моделей с автоматической подзаводкой достаточно 25-30 оборотов.
            
              table.table
                thead
                  tr
                    td Вариант
                    td Надпись
                    td Описание
                tbody
                  tr
                    td 1
                    td 
                      | STRIKE<br/><br/>
                      | NIGHT OFF<br/><br/>
                      | SILENT
                    td
                      | Включен бой каждый ровный час<br/><br/>
                      | Активен ночной режим<br/><br/>
                      | Отключен бой каждый ровный час
                  tr
                    td 1
                    td 
                      | STRIKE<br/><br/>
                      | SILENT
                    td
                      | Включен бой каждый ровный час<br/><br/>
                      | Отключен бой каждый ровный час
            
            // share
            .article-share(data-aos="fade")
              .article-share__title Поделиться в соцсетях
              .article-share__list
            
            // COMMENTS
            .comments
              .h2-title(data-aos="fade") Комментарии
              .comments__list
                // comment card
                .comment-card.comment-card--with-replies(data-id="123" data-aos="fade")
                  .comment-card__avatar
                    +svgMono("user")
                  .comment-card__content
                    .comment-card__timestamp 13 сентября  12:00
                    .comment-card__name Руслан Парфенов
                    .comment-card__text Покупал для пожилого человека. Очень просто настраиваются, большие цифры с зеленой подсветкой. Отличный часы для своей цены. Рекомендую!
                    .comment-card__actions
                      span.comment-card__reply(js-comment-reply) Ответить
                
                  // replies
                  .comment-card__replies
                    .comment-card(data-id="125")
                      .comment-card__avatar
                        +svgMono("user")
                      .comment-card__content
                        .comment-card__timestamp 15 сентября  12:22
                        .comment-card__name Олег Мочанов
                        .comment-card__text Хотел приобрести электронные часы, чтобы ночью в спальне можно было посмотреть время, не включая освещение. И в качестве ночника можно использовать. 
                        .comment-card__actions
                          span.comment-card__reply(js-comment-reply) Ответить
                
                // comment card
                .comment-card(data-id="123" data-aos="fade")
                  .comment-card__avatar
                    +svgMono("user")
                  .comment-card__content
                    .comment-card__timestamp 12 сентября  11:30
                    .comment-card__name Наталья
                    .comment-card__text Если не привыкли спать при свете, то в спальню лучше не ставить - очень ярко светят.
                    .comment-card__actions
                      span.comment-card__reply(js-comment-reply) Ответить
                          
              
              // form
              .comments__form(data-aos="fade")
                form.comment-form(js-comment-form)
                  input(type="hidden" name="token")
                  input(type="hidden" name="parent")
                  .comment-form__row
                    .ui-group
                      label Имя <span class="ui-required">*</span>
                      input.ui-input.is-valid(type="text" name="name" placeholder="Например, Игорь Петров") 
                    .ui-group
                      label Электронная почта <span class="ui-required">*</span>
                      input.ui-input(type="email" name="email" placeholder="Например, igor86@mail.ru")  
                  .ui-group
                    label Комментарий к заказу
                    textarea.ui-input(name="comment" placeholder="" rows="3" data-min-rows="3")  
                  button(type="sumbit").btn.btn-primary
                    span Отправить
                
                        
        // RIGHT
        .article-page__right(data-aos="fade-left")
          .article-page__sidebar(js-sticky)
            .article-page__navigation
              .h3-title Содержание статьи 
              .article-page__navigation-list(js-article-navigation)
                a(href="#") Виды, характеристики, функциинапольных часов
                a(href="#") Как выбрать напольные часы
                a(href="#") Эксплуатация напольных часов
            
            .article-page__featured-product
              .h3-title Рекомендуем
              
              // prodcut card
              .product-card(js-link data-href="#")
                .product-card__image
                  img(src="img/sale_1.png" srcset="img/sale_1@2x.png 2x")
                .product-card__content
                  .product-card__name Напольные часы <br/>Hermle 22716
                  .product-card__actions
                    .product-card__price.price
                      .price__newprice 29 800 <span class="r-mark">₽</span>
                      .price__oldprice 48 000 ₽
                    .product-card__cta.product-card__cta--no-compare
                      a(href="#").btn.btn-primary.btn--buy
                        .btn-cart-icon
                          +svgMono("cart")
                        span Купить

              
          
      
