---
title: Главная
---
extends shared/_layout
block content
  
  include components/homepage/_hero-promo
  include components/homepage/_benefits
  include components/homepage/_categories
  include components/homepage/_featured
  include components/homepage/_sale                              
  include components/homepage/_about
  include components/homepage/_news
  include components/homepage/_banners
