---
title: Страница товара
---
extends shared/_layout
block content
  
  include components/product/_scope
  include components/product/_info
  include components/product/_mods
  include components/product/_text
  include components/product/_featured
