// TEXT 
.c-text(data-aos="fade")
  .container
    .c-text__box
      h2.h2-title Напольные часы из Германии - покупка на тысячелетия
      p.p-main Напольные часы <strong>Hermle</strong>&nbsp;&mdash; это эталон хорошего вкуса. Начиная с&nbsp;1922-го года, продукция германского бренда украшает дома, офисы и&nbsp;квартиры состоятельных владельцев по&nbsp;всему земному шару.
      p.p-main Часовой механизм <strong>Hermle</strong> настолько точен и&nbsp;надежен, что другие производители механических интерьерных часов используют его уже десятки лет, доверяя компетентности немецких мастеров.
      h3.h3-title Механические напольные часы Hermle, это:
      .ul-list-row
        .ul-checkmarks
          li Статусный, стильный и оригинальный дизайн;
          li Широкое разнообразие цветов;
          li Корпус из натурального древесного массива;
          li Декоративные элементы ручной работы;
          li Автоматическое и ручное отключение боя и мелодии;
        .ul-checkmarks
          li До 8 дней хода на одном заводе;
          li Классические мелодии боя: Вестминстер (Westminster), Уиттингтон (Whittington) и Св. Михаил (St. Michael);
          li Модели с лунным календарем, а также многое другое;
        
        p.p-main Мы&nbsp;являемся партнером бренда <strong>Hermle</strong>, поэтому можем гарантировать не&nbsp;только заводское качество, но&nbsp;и&nbsp;действительно справедливые цены.
        p.p-main Доставляем часы в&nbsp;оригинальной заводской упаковке, с&nbsp;полным перечнем необходимой документации и&nbsp;гарантийным талоном. До&nbsp;того, как попасть в&nbsp;Ваш дом или офис, напольные часы <strong>Hermle</strong> дополнительно проходят 3&nbsp;стадии проверки: перед отгрузкой с&nbsp;фабрики в&nbsp;Германии, при получении на&nbsp;склад в&nbsp;Москве, а&nbsp;также при финальной отгрузке товара. Мы&nbsp;гарантируем целостность товара, отсутствие любых дефектов и&nbsp;рекламаций.
          
