.benefits
  &__wrapper
    position: relative
    display: flex
    padding: 22px 0
    margin-left: -12px
    margin-right: -12px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      bottom: 0
      left: 12px
      right: 12px
      height: 1px
      background: $borderColor
  &__col
    width: 100%
    flex: 0 1 25%
    max-width: 25%
    min-width: 1px
    padding: 0 12px
    &:first-child
      .benefit-card::before
        display: none

.benefit-card
  position: relative
  display: flex
  align-items: center
  padding-left: 30px
  padding-right: 30px
  &::before
    display: inline-block
    content: ' '
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 1px
    background: $borderColor
  &__icon
    font-size: 0
    color: $colorGray
    .ico
      font-size: 40px
  &__name
    color: #999898
    font-size: 14px
    margin-left: 1em
