.categories
  margin: 40px 0
  &__wrapper
    position: relative
    display: flex
    flex-wrap: wrap
    margin-left: -12px
    margin-right: -12px
  &__col
    width: 100%
    flex: 0 1 16.666667%
    max-width: 16.666667%
    min-width: 1px
    padding: 0 12px
    display: flex
    flex-direction: column

.category-card
  flex: 1 0 auto
  display: flex
  flex-direction: column
  &__image
    position: relative
    z-index: 1
    padding-top: 20px
    overflow: hidden
    margin-top: auto
    font-size: 0
    text-align: center
    img
      max-width: 100%
      transition: transform .4s $ease
  &__name
    margin-top: 25px
    text-transform: uppercase
    text-align: center
    font-size: 16px
    font-weight: 700
    letter-spacing: em(3, 16)
    transition: .25s $ease
  &:hover
    .category-card
      &__image
        img
          transform: translateY(-10px)
      &__name
        color: $colorRed
