// FOOTER
.footer

  &__top
    padding: 40px 0
    margin: 0 -12px
    display: flex
    align-items: flex-end

  // main col
  &__col
    flex: 0 1 33.333%
    padding: 0 12px
    &--main
    &--menu
      display: flex
    &--links


  &__logo
    max-width: 130px
    font-size: 0
    img
      max-width: 100%

  &__contacts
    display: flex
    align-items: flex-end
    margin-left: -12px
    margin-right: -12px
  &__contacts-col
    flex: 0 1 50%
    padding: 0 12px

  &__bottom
    border-top: 1px solid $borderColor
    padding: 30px 0
    display: flex
    align-items: center

  &__copyright

  &__socials
    margin-left: auto

/* footer menu
.footer-menu
  flex: 0 1 50%
  font-size: 14px
  padding-right: 12px
  &:last-child
    padding-left: 12px
    padding-right: 0
  &__name
    margin-bottom: 8px
    color: rgba($fontColor, .6)
  &__list
    list-style: none
    margin: 0 -5px -.4em
    padding: 0
    li
      display: block
      text-transform: uppercase

      letter-spacing: em(2.62, 14)
      font-weight: 700
      margin-bottom: 3px
      &:last-child
        margin-bottom: 0
    a
      display: inline-block
      padding: 5px
      transition: color .25s $ease
      &:hover
        color: $colorRed

/* footer links
.footer-links
  position: relative
  display: flex
  justify-content: space-around
  padding-left: 30px
  padding-right: 30px
  &::before
    display: inline-block
    content: ' '
    position: absolute
    top: 0
    bottom: 0
    left: 0px
    width: 1px
    background: $borderColor

  &__menu
    flex: 0 1 33.33%
    list-style: none
    font-size: 14px
    margin: 0px -5px -.5em
    padding: 0
    li
      display: block
      margin-bottom: 4px
      &:last-child
        margin-bottom: 0
    a
      display: inline-block
      padding: 5px
      transition: color .25s $ease
      &:hover
        color: $colorRed
