/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: white
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d

  &__top
    display: flex
    align-items: center
    border-bottom: 1px solid $borderColor

  &__top-menu
    list-style: none
    margin: 0
    padding: 14px 0
    margin-left: -5px
    margin-right: -5px
    li
      display: inline-block
      font-size: 14px
      margin-right: 30px
      &:last-child
        margin-right: 0
    a
      display: inline-block
      padding: 5px
      transition: color .25s $ease
      &:hover
        color: $colorRed

  &__socials
    margin-left: auto
    margin-right: 30px

  /* center
  &__center
    display: flex
    align-items: center
    padding: 20px 30px 20px 0

  &__logo
    flex: 0 0 auto
    font-size: 0
    padding-right: 30px

  &__showroom
    margin-left: auto
    margin-right: auto

  &__cta
    margin-left: auto
    margin-right: auto

  &__contacts
    margin-left: auto
    margin-right: auto

  &__cart
    margin-left: auto
    position: relative
    z-index: 1
    padding-top: 16px
    font-size: 0
    .ico-mono-cart
      font-size: 32px

  &__cart-counter
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    min-size: 20px
    border-radius: 50%
    background: $colorRed
    color: white
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    span
      margin-top: -.1em
      margin-left: 0.05em
      font-size: 14px
      line-height: 1

  /* bottom
  &__bottom
    background: $colorRed
    border-radius: 4px
    color: white
    display: flex
  &__search
    flex: 0 0 auto

  &__menu
    flex: 1 1 auto
    display: flex

  &__hamburger
    display: none
    padding-left: 20px

  /* modifiers
  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    // visibility: hidden
    transform: translate3d(0,-100%,0) !important
    transition: transform .25s $ease
    .header__wrapper
      padding-top: 10px
      padding-bottom: 10px

  &.is-fixed-visible
    // visibility: visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s $ease
    transform: translate3d(0,-100%,0) !important


/* smaller components
.showroom-header
  display: flex
  align-items: center
  &__name
    font-size: 16px
    font-weight: 600
  &__icon
    flex: 0 0 auto
    font-size: 0
    margin-left: 12px
    margin-right: 16px
    .ico
      font-size: 32px
  &__content

  &__address
    font-size: 14px
  &__directions
    margin-top: 3px
    font-size: 12px
    line-height: 1.25
    // TODO
    color: #8F8F8F

// contacts
.contacts-header
  &__messengers
    display: flex
    align-items: center
    font-size: 12px
    a
      display: inline-block
      margin-right: 5px
      transition: opacity .25s $ease
      will-change: opacity
      &:hover
        opacity: .75
  &__whatsapp
    color: #3DBD2A
  &__viber
    color: #7D3DAF
  &__telegram
    color: #2FA7DB

  &__phones
    display: flex

// phone
.header-phone
  display: flex
  margin-top: 5px
  margin-right: 25px
  &:last-child
    margin-right: 0
  &__icon
    padding-top: 5px
    flex: 0 0 auto
    font-size: 0
    color: $colorRed
    .ico
      font-size: 12px
  &__content
    margin-left: 8px

  &__tel
    font-size: 22px
    font-weight: 600
    line-height: 1

  &__description
    font-size: 12px
    color: #8F8F8F

// search
.header-search
  display: flex
  flex-direction: column
  padding-left: 30px
  padding-right: 30px
  &__icon
    margin-top: auto
    margin-bottom: auto
    .ico
      font-size: 16px

// menu
.header-menu
  position: relative
  z-index: 1
  display: flex
  align-items: center
  margin-right: 20px
  &:last-child
    // extra space just in case
    margin-right: 0
  &::before
    display: inline-block
    content: ' '
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 1px
    background: #882929
    height: 30px

  &__name
    color: rgba(white, .6)
    font-size: 14px
    padding-left: 20px
    padding-right: 10px
    line-height: 1
  &__list
    list-style: none
    margin: 0
    padding: 0
    li
      display: inline-block
      font-weight: 700
      font-size: 16px
      text-transform: uppercase
      letter-spacing: em(3,16)
    a
      display: inline-block
      padding: 22px 18px
      transition: background .25s $ease
      &:hover
        background-color: $colorRedHover

+r($lg)
  .header

+r($md)
  .header
    &__hamburger
      margin-left: auto
      display: block

+r($sm)
  .header
