/* showroom
.showroom-head
  &__heading
    padding: 60px 0 50px
    background: #FAF8F4
  &__grid
    display: flex
    margin-left: -12px
    margin-right: -12px
  &__title
    flex: 0 0 $col8
    max-width: $col8
    font-size: 46px
    font-weight: 700
    line-height: 1
    margin: 0
    padding-left: calc(6.5% + 12px)
    padding-right: 12px
    span
      position: relative
      line-height: 1
      color: $colorRed
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 0
        left: .05em
        right: .05em
        height: 4px
        background: currentColor

  &__phones
    flex: 0 0 $col4
    max-width: $col4
    padding-right: 12px
    .contact-phone
      max-width: 220px

  &__gallery
    height: 390px
  &__gallery-slide
    flex: 0 0 auto
    display: flex
    flex-direction: column
    width: auto
    height: auto
    font-size: 0
    img
      width: 100%
      height: 100%
      object-fit: cover
    &--wide
      flex-basis: 58%
      img
        object-position: right center
    &--boxed
      flex-basis: 25%
    &--grouped
      flex-basis: 17%
      img
        height: 50%

+r($lg)
  .showroom-head
    &__title
      flex-basis: $col6
      max-width: $col6
      padding-left: 13%
    &__phones
      flex-basis: $col6
      max-width: $col6
    &__gallery-slide
      &--wide
        flex-basis: 65%
      &--boxed
        flex-basis: 35%
      &--grouped
        flex-basis: 30%

+r(640)
  .showroom-head
    &__heading
      padding: 35px 0 20px
    &__grid
      flex-wrap: wrap
    &__title
      flex-basis: $col12
      max-width: $col12
      font-size: 30px
      margin-bottom: 20px
    &__phones
      flex-basis: $col12
      max-width: $col12
      padding-left: calc(13% - 12px)

+r($sm)
  .showroom-head
    &__gallery
      height: 280px
    &__gallery-slide
      &--wide
        flex-basis: 100%
      &--boxed
        flex-basis: 80%
      &--grouped
        flex-basis: 50%


/* content section
.showroom
  margin: 20px 0
  &__section
    display: flex
    flex-wrap: wrap
    margin-left: -12px
    margin-right: -12px
    & + .showroom__section
      // margin-top: -50px

  &__left, &__right
    width: 100%
    flex: 0 0 auto
    padding: 0px 12px
    min-width: 1px
    display: flex
    flex-direction: column
  &__left
    flex-basis: $col3
    max-width: $col3
    margin-left: $col1
  &__right
    flex-basis: $col7
    max-width: $col7
    margin-right: $col1

  &__head
    flex: 1 1 auto
    position: relative
    display: flex
    padding: 80px 0
    &::before
      display: inline-block
      content: ' '
      position: absolute
      left: 10px
      top: 0
      bottom: 0
      width: 1px
      background: $borderColor
  &__head-icon
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    size: 20px 60px
    background: white
    flex: 0 0 auto
    color: $colorRed
    .ico-mono
      &-location
        font-size: 22px
      &-antique-clock
        font-size: 24px
  &__head-content
    margin-left: 25px
    // rewrite some basic styles
    .h2-title
      margin: 13px 0 0
    .ul-list
      li
        margin-bottom: 2em
        &:last-child
          margin-bottom: 0

  &__hours
    margin: 30px 0
    .p-big
      font-size: 20px
      font-weight: 600

  &__content
    flex: 1 1 auto
    padding: 30px 0
    .table
      td
        &:first-child
          padding-left: 0

      tbody
        td
          padding-bottom: 50px
