// PRODUCT INFO
.p-info(data-aos="fade")
  .container
    // CHARACTERISTICS
    .p-chars
      //col
      .p-chars__col
        .p-char
          .p-char__image.p-char__image--color
            img(src='img/productColor_q3.png' srcset='img/productColor_q3@2x.png 2x')
          .p-char__content
            .p-char__title Орех тёмный Q3
            .p-char__description Цвет корпуса
      //col
      .p-chars__col
        .p-char
          .p-char__content
            .p-char__title 
              +svgMono("gear")
              span Механика с боем
            .p-char__description 1171&nbsp;&mdash; Механический механизм с&nbsp;тросовым подвесом гирь. <br/>Запас хода&nbsp;&mdash; 8&nbsp;дней.
      //col
      .p-chars__col
        .p-char
          .p-char__content
            .p-char__title Органный гонг
            .p-char__description Бой каждые 15&nbsp;минут с&nbsp;нарастанием длительности мелодии
      //col
      .p-chars__col
        .p-char
          .p-char__content
            .p-char__title Циферблат
            .p-char__description Латунный с&nbsp;чеканными римскими цифрами, по&nbsp;центру и&nbsp;углам установлены узорные накладки с&nbsp;чернением. Отдельный циферблат с&nbsp;секундной стрелкой.
      //col
      .p-chars__col
        .p-char
          .p-char__content
            .p-char__title Маятник
            .p-char__description Лирообразный маятник изготовлен из&nbsp;полированной латуни с&nbsp;узором по&nbsp;центру и&nbsp;чернением.
      //col
      .p-chars__col
        .p-char
          .p-char__content
            .p-char__title Ночной режим
            .p-char__description Автоматическое и&nbsp;ручное отключение боя в&nbsp;ночное время
            
    
    // ALL INFO
    .p-info__grid
      //col
      .p-info__col
        .p-info__box
          .h3-title Доставка по России
          .p-info__list
            .p-info__list-icon
              +svgMono("delivery-truck")
            .p-info__list-content
              span Доставка по&nbsp;Москве и&nbsp;области <span class="c-red">БЕСПЛАТНОM</span>!
              .p-small в&nbsp;тот&nbsp;же или на&nbsp;следующий день!
          .p-info__list
            .p-info__list-icon
              +svgMono("delivery-address")
            .p-info__list-content
              span Самовывоз из&nbsp;шоурума
              .p-small в&nbsp;тот&nbsp;же день!
          .p-info__list
            .p-info__list-icon
              //- +svgMono("delivery-rus")
              i.icon.icon-delivery-rus
            .p-info__list-content
              span По России
              .p-small груз доставляется курьерскими службами. <br/>Все грузы страхуются.
                
      //col
      .p-info__col
        .p-info__box
          .h3-title Способы оплаты
          .p-info__list
            .p-info__list-icon
              +svgMono("payment-wallet")
            .p-info__list-content
              span Наличными
              .p-small при покупке в&nbsp;шоуруме или доставке курьером
          .p-info__list
            .p-info__list-icon
              +svgMono("payment-credit-card")
            .p-info__list-content
              span Кредитной картой
              .p-small при покупке с&nbsp;сайта, в&nbsp;шоуруме или доставке курьером
          .p-info__list
            .p-info__list-icon
              +svgMono("payment-bank")
            .p-info__list-content
              span Через банк
              .p-small для физического и&nbsp;юридического лица
                
      //col
      .p-info__col
        .h4-title Комплектация 
        ul.ul-checkmarks
          li Напольны часы
          li Маятник
          li Инструкция по эксплуатации
          li Гарантийный талон
          li Перчатки
        .h4-title Гарантия до 5 лет 
        p.p-small.p-small--black На&nbsp;все покупки в&nbsp;нашем интернет-магазине даётся официальная <strong>гарантия сроком до&nbsp;5&nbsp;лет</strong>, действующая на&nbsp;территории всей России.
      
      //col
      .p-info__col
        .h4-title Вспомогательная информация
        .ui-links-group
          a(href="#").ui-arr-link 
            span Как выбрать часы
            +svgMono("btn-arrow")
          a(href="#").ui-arr-link 
            span О фабрике
            +svgMono("btn-arrow")
        
        .h4-title Вопросы и ответы
        .ui-links-group
          a(href="#").ui-arr-link 
            span Какие бывают гонги
            +svgMono("btn-arrow")
          a(href="#").ui-arr-link 
            span Мелодии и виды отделки
            +svgMono("btn-arrow")
          a(href="#").ui-arr-link 
            span Чем они отличаются
            +svgMono("btn-arrow")
          a(href="#").ui-arr-link 
            span Как сделать выбор
            +svgMono("btn-arrow")
