// PRODUCT SCOPE
.p-exclusive(data-aos="fade")
  .container
    .p-exclusive__wrapper
      // left
      .p-exclusive__left
                          
      // right
      .p-exclusive__right
        .p-scope__category Напольные часы
        h1.h1-title.p-scope__name Часы Hermle 01210
        .p-scope__row
          .p-scope__article Арт: 5655351
          .p-scope__availability.is-available
            +svgMono("checkmark")
            span В наличии
          .p-scope__showroom <span>Шоурум в Москве:</span> ул. Шаболовка д.23 к.5
        
        // cta
        .p-scope__cta
          .p-scope__price.price.price--product
            .price__newprice 469 400 <span class="r-mark">₽</span>
          
          .p-scope__buy
            a(href="#").btn.btn-primary.btn--buy
              .btn-cart-icon
                +svgMono("cart")
              span Купить часы
          
          .p-scope__compare
            a(href="#").btn.btn-compare.btn-compare--arr-left
              +svgMono("compare")
          
        
