// PRODUCT SCOPE
.p-scope(data-aos="fade")
  .container
    .p-scope__wrapper
      // left
      .p-scope__left
        .p-gallery
          // vertical swiper
          .p-gallery__thumbs.swiper-container(js-swiper-gallery-thumbs)
            .swiper-wrapper
              .swiper-slide.p-gallery__thumb.is-selected
                img(src='img/productThumb_1.jpg' srcset='img/productThumb_1@2x.jpg 2x')
              .swiper-slide.p-gallery__thumb
                img(src='img/productThumb_2.jpg' srcset='img/productThumb_2@2x.jpg 2x')
              .swiper-slide.p-gallery__thumb
                img(src='img/productThumb_3.jpg' srcset='img/productThumb_3@2x.jpg 2x')
              .swiper-slide.p-gallery__thumb
                img(src='img/productThumb_4.jpg' srcset='img/productThumb_4@2x.jpg 2x')
              .swiper-slide.p-gallery__video-thumb(js-popup-video data-mfp-src="https://www.youtube.com/watch?v=lNSaAKqFGZo")
                +svgMono("play-icon")
                span Видео
                  
          // main swiper
          .p-gallery__main.swiper-container(js-swiper-gallery-main)
            .swiper-wrapper
              .swiper-slide.p-gallery__picture
                img(src='img/productImage_1.png' srcset='img/productImage_1@2x.png 2x')
              .swiper-slide.p-gallery__picture
                img(src='img/productImage_1.png' srcset='img/productImage_1@2x.png 2x')
              .swiper-slide.p-gallery__picture
                img(src='img/productImage_1.png' srcset='img/productImage_1@2x.png 2x')
              .swiper-slide.p-gallery__picture
                img(src='img/productImage_1.png' srcset='img/productImage_1@2x.png 2x')
            .p-gallery__tag
              .tag.tag--sale
                span -30%
                      
        // document
        .p-scope__document
          a(href="#" target="_blank").btn.btn-outline.btn-outline--small.btn-outline--muted
            .btn-document-icon
              +svgMono('pdf')
            span Инструкция
                          
      // right
      .p-scope__right
        .p-scope__category Напольные часы
        h1.h1-title.p-scope__name Часы Hermle 01210
        .p-scope__row
          .p-scope__article Арт: 5655351
          .p-scope__availability.is-available
            +svgMono("checkmark")
            span В наличии
          .p-scope__showroom <span>Шоурум в Москве:</span> ул. Шаболовка д.23 к.5
        
        // CHARACTERISTICS
        .p-chars.p-chars--compact
          //col
          .p-chars__col
            .p-char
              .p-char__image.p-char__image--color
                img(src='img/productColor_q3.png' srcset='img/productColor_q3@2x.png 2x')
              .p-char__content
                .p-char__title Орех тёмный Q3
                .p-char__description Цвет корпуса
          //col
          .p-chars__col
            .p-char
              .p-char__content
                .p-char__title 
                  +svgMono("gear")
                  span Механика с боем
                .p-char__description 1171&nbsp;&mdash; Механический механизм с&nbsp;тросовым подвесом гирь. <br/>Запас хода&nbsp;&mdash; 8&nbsp;дней.
          //col
          .p-chars__col
            .p-char
              .p-char__content
                .p-char__title Органный гонг
                .p-char__description Бой каждые 15&nbsp;минут с&nbsp;нарастанием длительности мелодии
        
        // more
        .p-scope__more(js-scroll-to data-scroll-target=".p-info")
          span Смотреть все харастеристики
        
        // cta
        .p-scope__cta
          .p-scope__buy
            a(href="#").btn.btn-primary.btn--buy
              .btn-cart-icon
                +svgMono("cart")
              span Купить часы
          
          .p-scope__price.price.price--product
            .price__newprice 469 400 <span class="r-mark">₽</span>
            .price__wrapper
              .price__oldprice 772 000 ₽
              a(href="#").price__discount Хочу еще скидку
          
          .p-scope__compare
            a(href="#").btn.btn-compare.btn-compare--arr-left
              +svgMono("compare")
          
        // text
        .p-scope__text
          .p-scope__description
            p Напольные часы <strong>Hermle 01210-031171</strong> станут украшением любого интерьера: в&nbsp;квартире, офисе или загородном доме. Эта статусная модель обладает надежным механизмом с&nbsp;тросовой тягой, который обеспечивает 8&nbsp;дней хода. 
            p Корпус выполнен в&nbsp;классическом стиле, с&nbsp;добавлением декоративных элементов, многие из&nbsp;которых выполнены вручную.
          .p-scope__schema
            img(src="img/productSchema.png" srcset='img/productSchema@2x.png 2x')
        
        // music
        .p-scope__music
          p.p-small Мелодии
          .p-scope__music-row
            .play-btn(js-play-audio)
              .play-btn__progress
                .play-btn__progress-radial(js-radial-progressbar)
                +svgMono('play-icon')
                +svgMono('stop-icon')
              .play-btn__content
                span.play-btn__name Вестминстер органный гонг
                span.play-btn__timer 50 секунд
              .play-btn__media
                audio
                  source(src="audio/80289__hyderpotter__hourlychimebeg.mp3" type="audio/mpeg")
            .play-btn(js-play-audio)
              .play-btn__progress
                .play-btn__progress-radial(js-radial-progressbar)
                +svgMono('play-icon')
                +svgMono('stop-icon')
              .play-btn__content
                span.play-btn__name Уиттингтон органный гонг
                span.play-btn__timer 50 секунд
              .play-btn__media
                audio
                  source(src="audio/366121__dcsfx__gongbellsfxAu.mp3" type="audio/mpeg")
