// product text
.p-text(data-aos="fade")
  .container
    .p-text__wrapper
      .p-text__col
        p.p-main Интерьерные часы <b>Hermle 01210-031171</b> имеют 3 мелодии боя: (Westminster, Whittington и St. Michael), которые срабатывают каждые четверть часа. Модель имеет возможность ручного или автоматического отключения мелодии и боя на ночь.
        p.p-main С появлением модели <b>Hermle 01210-031171</b>, понятие классики в интерьерных часах перешло на новый уровень. Это не только статусная и аристократическая эстетика ореха, но и чистота звука, чему способствует бой на органных трубах.
        p.p-main Данные часы украшены ценным и элегантным декором в качестве инкрустации шпоном корневища дерева. В основе дизайна модели лежит оригинальная отделка с резными накладками и чернением. Внутри корпуса, который выполнен с боковыми панелями из минерального стекла, расположился большой лирообразный латунный маятник с узорами.
  
      .p-text__col
        h3.h3-title Достоинства часов Hermle 01231-030451:
        ul.ul-list
          li Made in Germany – Сделано в Германии;
          li Уникальный дизайн c инкрустацией из ценных пород дерева;
          li Надёжный механизм с тросовой тягой и 8-дневным запасом хода;
          li Часы оборудованы функцией боя на органных трубах;
          li Возможность выбора 1-й из 3-х имеющихся мелодий: Вестминстер (Westminster), Уиттингтон (Whittington) и Св.Михаил (St.Michael), с автоматическим и ручным
          li отключением;
          li Отдельный секундный циферблат;
          li Сложный циферблат с чернением и латунным узором;
          li Лунный календарь.
 
