// ABOUT
.h-about
  .container
    .h-about__wrapper
      .h-about__left
        .h-about__image.reveal(js-reveal data-type="halflyEnterViewport" data-direction="ltr")
          img(src="img/aboutImage.jpg" srcset="img/aboutImage@2x.jpg 2x")
          .h-about__cta
            a(href="#").btn.btn-primary
              span Обратная связь
              .btn-comment-icon
                +svgMono("comment")
              
      .h-about__right
        .h-about__content(data-aos="fade")
          .h-about__title
            .h1-title Интернет-магазин
            .h-about__title-logo
              img(src="img/template/logo.png" srcset="img/template/logo@2x.png 2x")
              img.h-about__title-logo-shade(src="img/template/logo.png" srcset="img/template/logo@2x.png 2x")
                    
          p.h3-title Дорогие друзья!
          p.p-main Мы&nbsp;рады представить интернет-магазин интерьерных часов немецкого бренда Hermle. Вы&nbsp;найдёте большой ассортимент механических и&nbsp;кварцевых часов любого формата.
          p.p-main Продукция Hermle полностью производится в&nbsp;Германии, независимо от&nbsp;цены, ни&nbsp;один из&nbsp;этапов&nbsp;НЕ проходит на&nbsp;территории стран с&nbsp;дешёвой рабочей силой. И&nbsp;механизмы, и&nbsp;корпусы&nbsp;&mdash; всё это изготавливается в&nbsp;Швабии и&nbsp;Шварцвальде&nbsp;&mdash; регионах юга Германии.
          p.p-main Работая в&nbsp;тесном сотрудничестве с&nbsp;производителем, мы&nbsp;накопили большой опыт в&nbsp;работе с&nbsp;точными механизмами бренда, как в&nbsp;продаже, так и&nbsp;дальнейшем обслуживании.
          blockquote.blockquote Все часы, продаваемые на&nbsp;сайте, сопровождаются официальной <span class="c-red f-600">гарантией сроком до&nbsp;5&nbsp;лет.</span> Гарантия на&nbsp;продукцию действует во&nbsp;всех регионах России
          p.p-main Мы&nbsp;рады видеть вас в&nbsp;нашем шоуруме в&nbsp;Москве, где наши сотрудники помогут с&nbsp;выбором и&nbsp;оформлением покупки.
