// CATEGORIES
.categories(data-aos="fade")
  .container
    .categories__wrapper
      // col
      .categories__col
        a.category-card(href="catalog.html")
          .category-card__image
            img(src="img/category_1.png" srcset="img/category_1@2x.png 2x")
          .category-card__name Напольные
      // col
      .categories__col
        a.category-card(href="catalog.html")
          .category-card__image
            img(src="img/category_2.png" srcset="img/category_2@2x.png 2x")
          .category-card__name Настенные
      // col
      .categories__col
        a.category-card(href="catalog.html")
          .category-card__image
            img(src="img/category_3.png" srcset="img/category_3@2x.png 2x")
          .category-card__name Настольные
      // col
      .categories__col
        a.category-card(href="catalog.html")
          .category-card__image
            img(src="img/category_4.png" srcset="img/category_4@2x.png 2x")
          .category-card__name Классические
      // col
      .categories__col
        a.category-card(href="catalog.html")
          .category-card__image
            img(src="img/category_5.png" srcset="img/category_5@2x.png 2x")
          .category-card__name Модерновые
      // col
      .categories__col
        a.category-card(href="catalog.html")
          .category-card__image
            img(src="img/category_6.png" srcset="img/category_6@2x.png 2x")
          .category-card__name Эксклюзивные
          
