// NEWS
.h-news(data-aos="fade")
  .container
    .h-news__wrapper
      .h-news__left
        .h2-title Новости компании
        p.p-small Hermle - компания с вековой историей и многолетними традициями дизайна.
        a(href="#").btn.btn-outline
          span Перейти в раздел
      .h-news__right
        .h-news__grid
          .h-news__col
            // news card
            a(href="#").news-card
              .news-card__image.scaler(style="padding-bottom: "+(189/282)*100 +"%")
                img(js-lazy data-src="img/news_1.jpg" data-srcset="img/news_1@2x.png 2x")
              .news-card__content
                .news-card__date 10 Апреля 2018
                .news-card__title Hermle Store официальный <br/> партнёр фабрики в России
          .h-news__col
            // news card
            a(href="#").news-card
              .news-card__image.scaler(style="padding-bottom: "+(189/282)*100 +"%")
                img(js-lazy data-src="img/news_2.png" data-srcset="img/news_2@2x.png 2x")
              .news-card__content
                .news-card__date 05 Марта 2018
                .news-card__title Весенняя распродажа!
          .h-news__col
            // news card
            a(href="#").news-card
              .news-card__image.scaler(style="padding-bottom: "+(189/282)*100 +"%")
                img(js-lazy data-src="img/news_3.png" data-srcset="img/news_3@2x.png 2x")
              .news-card__content
                .news-card__date 23 Декабря 2017
                .news-card__title Скидка на популярные напольные <br/> часы с 1 ноября
                      
