.ico-mono-arrow-down {
  width: 2em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-arrow-left {
  width: 0.5em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-arrow-select {
  width: 2em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-brandenburg-gate {
  width: 1.05em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-btn-arrow-left {
  width: 2.2em;
  height: 1em;
  fill: #F6F2F2;
}
.ico-mono-btn-arrow {
  width: 2.17em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-btn-tag-bg {
  width: 2.07em;
  height: 1em;
  fill: #F8CFA2;
}
.ico-mono-cart {
  width: 0.79em;
  height: 1em;
  fill: #000;
}
.ico-mono-checkmark {
  width: 1.33em;
  height: 1em;
  fill: #4CAA29;
}
.ico-mono-clock {
  width: 0.75em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #DADADA;
}
.ico-mono-comment {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-compare {
  width: 1em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-delivery-address {
  width: 1em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-delivery-rus {
  width: 1.6em;
  height: 1em;
  fill: none;
}
.ico-mono-delivery-truck {
  width: 1.43em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-gear {
  width: 1em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-graph-price {
  width: 1.07em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-payment-bank {
  width: 0.97em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-payment-credit-card {
  width: 1em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-payment-wallet {
  width: 0.97em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-pdf {
  width: 0.95em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-phone {
  width: 0.69em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-play-button {
  width: 1em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-play-icon {
  width: 0.75em;
  height: 1em;
  fill: #AA2935;
}
.ico-mono-refresh {
  width: 1.11em;
  height: 1em;
  fill: #0D0D0D;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-facebook {
  width: 0.56em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-social-youtube {
  width: 1.29em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-stamp {
  width: 0.93em;
  height: 1em;
  fill: #A4A3A3;
}
.ico-mono-stop-icon {
  width: 0.5em;
  height: 1em;
  fill: #AA2935;
}
